.lab_bg {
  background: linear-gradient(
    359.21deg,
    #7eb79e -19.86%,
    rgba(35, 184, 153, 0.81) -0.66%
  );
}
/* Section Gallery Background Color */
.bgME {
  background: rgb(126,183,158);
  background: linear-gradient(58deg, rgba(126,183,158,0) 0%, rgba(35,184,153,1) 100%);
}